{
    "presets":  [
        ["@babel/preset-env", {
            "corejs": "2.6.11",
            "targets":  {
                "esmodules": true,
                "ie": "11"
            },
            "useBuiltIns": "usage"//按需引用对象解析
        }]
    ]

}