<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>小白龙导航3</title>
</head>

<body>
  <div class="container" id="container" id="app">
    <aside class="left-bar" id="leftBar">
      <nav class="nav">
        <div class="item active" style="margin-bottom: 200px;">
          <a href="">
            <i class="iconfont icon-Appreciate" style="margin-left: 60px;"> 赞赏</i>
            <img src="./src/images/二维码收款.png" style="width: 150px;margin: 20px 20px;">
          </a>
          <i class="line"></i>
        </div>
        <ul class="nav-item" id="navItem" style="border-right: 3px solid #6b7386;">
          <li v-for="item in navItem" v-cloak><a :href="item.url"><i class="iconfont "
                :class="item.class"></i>{{item.text}}</a></li>
        </ul>
        <div class="item comment">
          <a target="_blank" href="https://t.me/joinchat/RJIj0ka9FCscG_qjHkSeYA">
            <i class="iconfont icon-Jump" style="margin-left: 40px;"> 加我电报号</i>
          </a>
        </div>
      </nav>
    </aside>
    <section class="main">
      <div id="mainContent">
        <!-- 手机端菜单 -->
        <div id="menu"><a href="#">菜单</a></div>
        <!-- 搜索引擎 -->
        <div class="box">
          <div id="google">
            <div id="google-img">
              <img src="./src/images/google.png">
            </div>
            <div id="google-form">
              <form method=get action="https://www.google.com/search" target="_blank">
                <input type=text name=q size=40 maxlength=255>
                <input type=submit name=btnG value="谷歌搜索" id="anniu">
              </form>
            </div>
          </div>
        </div>
        <!-- 网页数据列表 -->
        <div id="boxList">
          <div class="box" v-for="(item,index) in boxList" :key="index" v-cloak>
            <a href="" :name="item.name"></a>
            <div class="sub-category">
              <div><i class="iconfont" :class="item.class"></i>{{item.text}}</div>
            </div>
            <div v-for="(item,index) in item.list" :key="index" v-cloak>
              <a target="_blank" :href="item.href">
                <div class="item">
                  <div class="logo">
                    <img :src="item.src">{{item.name}}</div>
                  <div class="desc">{{item.text}}</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="copyright">
          <div>
            Copyright © 2020 　
            <a target="_blank" href="https://beian.miit.gov.cn">粤ICP备19043740号</a>
          </div>
        </div>
      </footer>
    </section>
  </div>
  <div style="display: none;">
    <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279359447&web_id=1279359447"></script>
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>



</body>

</html>